---
# tasks file for nginx
- name: Ensure nginx is installed
  yum:
      name: nginx # Does this live in EPEL?  Maybe need that repo installed.
      state: present
      update_cache: true
  notify:
      - Start Nginx
- name: Ensure nginx config directory is absent
  file:
      path: /etc/nginx
      state: absent
- name: Ensure nginx config directory is populated with ChicagoLUG config
  git:
      repo: https://github.com/chicagolug/chicagolug-nginx.git
      dest: /etc/nginx
  notify:
      - Restart Nginx
