[defaults]
retry_files_enabled = False
host_key_checking = False
hostfile = hosts

# pretty print in verbose mode
stdout_callback = yaml 
# metrics for ansible runs        
callback_whitelist = timer, profile_tasks

# additional paths to search for roles in, colon separated
roles_path    = ./roles

[ssh_connection]
pipelining = True
control_path = ~/.ansible/cp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o RequestTTY=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s
